# pip install -r requirements.txt

llama-index
faiss-cpu
sentence-transformers
requests
python-dotenv

llama-index-embeddings-huggingface
llama-index-vector-stores-faiss 
llama-index-llms-ollama

alive-progress

beautifulsoup4

bert-score
rouge-score